body, html{
    display:flex;
    margin:0;
    flex-direction: column;
    background-color: rgb(248, 243, 243);
    height: 100%;
  }

  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0e0e0e;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }


 
  
  input[type=submit] {
    width: 50%;
    background-color: #8b8484;
    color: rgb(248, 243, 243);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #131313;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

footer{
    height: 200px;
}
  div {
    width: 50%;
    border-radius: 15px;
    background-color: #e2e0e0;
    padding: 20px;
  }

  input[type=submit]:hover {
    background-color: #696464;
  }

  main{
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

header{
    color: rgb(17, 18, 18);
    font-size: larger;
    text-align: center;

}
